<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="uriReq" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
    <add key="uriResp" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
    <add key="uriTx" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
