<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="uriReq" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
		<add key="uriResp" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
		<add key="uriTx" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
		<!--<add key="RequestReceiverIP" value="192.168.118.243"/>-->
		<add key="RequestReceiverIP" value="127.0.0.1"/>
		<add key="RequestReceiverPort" value="59999"/>
		<!--<add key="TxReceiverIP" value="192.168.118.243"/>-->
		<add key="TxReceiverIP" value="127.0.0.1"/>
		<add key="TxReceiverPort" value="59998"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
